<h1>Dockerzon has been summoned <%= pluralize(@total_hits, 'time') %></h1>
<%= image_tag(asset_path('dockerzon.jpg'), class: 'logo', size: '612x438', alt: 'Dockerzon') %>
<h5 class="muted"><%= @hostname %></h5>!
